@charset "utf-8";
/* CSS Document */

body{
	background: #fff;
}

.banner{
	position: relative;
	width: 100%;
}

.banner .con{
	position: absolute;
	top: 50%;
	height: 0;
	left: 0;
	right: 0;
	z-index: 6;
}

.banner .con .prev,
.banner .con .next{
	position: absolute;
	width: 24px;
	height: 40px;
	background: rgba(0,0,0,0.5);
	text-align: center;
	line-height: 40px;
	font-size: 16px;
	color: rgb(255,255,255,0.8);
	margin-top: -20px;
}

.banner .con .prev{
	left: 0;
}

.banner .con .next{
	right: 0;
}

.banner .swiper-container {
	width: 100%;
	height: 100%;
	color: #fff;
	text-align: center;
}


.banner .swiper-pagination-switch {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 8px;
  background: #fff;
  margin: 0 3px;
  opacity: 0.4;
  cursor: pointer;
  -webkit-transition: all .4s ease;
  -moz-transition: all .4s ease;
  -ms-transition: all .4s ease;
  -o-transition: all .4s ease;
  transition: all .4s ease;
}
.banner .swiper-visible-switch {
  background: #aaa;
}
.banner .swiper-active-switch {
  background: #FE0000;
  opacity: 1;
}

.banner .swiper-slide{
	position: relative;
	overflow: hidden;
}

.banner .swiper-slide a{
	position: relative;
	display: block;
	padding-bottom: 60%;
}

.banner .imgBox{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	-webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}




.hot {
	position: relative;
	padding: 6px 12px 24px;
	margin: 12px;
	background: #f2f6f6;
	font-size: 15px;
	color: #2c2c2c;
	line-height: 1.5;
}

.hot .box-title{
	position: absolute;
	top: 0;
	left: 12px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	padding: 0 12px;
	font-size: 15px;
	color: #fff;
	background: #eea031;
}

.hot .page{
	padding: 8px 0;
	margin-bottom: 10px;
}

.hot .page .more{
	float: right;
	font-size: 13px;
	color: #eea031;
	line-height: 20px;
	margin-left: 10px;
}

.hot .page .list{
	float: right;
}

.hot .page .list a{
	display: inline-block;
	vertical-align: top;
	width: 16px;
	height: 16px;
	border: 1px solid #eea031;
	font-size: 12px;
	color: #eea031;
	background: #fff;
	text-align: center;
	line-height: 16px;
	margin-left: 1px;
}

.hot .page .list a.active{
	background: #eea031;
	color: #fff;
}

.hot .content .list{
	padding-top: 6px;
}

.hot .content .list .item{
	display: none;
}

.hot .content .list .item .item-header{
	font-size: 18px;
	font-weight: bold;
	color: #2C2C2C;
	text-align: center;
	padding: 0 24px 8px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.hot .content .list .item .item-body{
	display:-webkit-box;
	-webkit-box-orient:vertical;
	-webkit-line-clamp:3;
	overflow:hidden;
	text-overflow:ellipsis;
}

.news{
	padding: 0 12px;
	margin-top: 20px;
}

.news .news-header{
	border-bottom: 2px solid #f0f4f4;
	margin-bottom: 16px;
}

.news .news-header .inner{
	float: left;
}

.news .news-header .inner a{
	position: relative;
	float: left;
	padding: 0 6px;
	font-size: 18px;
	color: #666666;
	height: 40px;
	line-height: 40px;
	margin-right: 6px;
}

.news .news-header .inner a::after{
	content: "";
	position: absolute;
	left: 0;
	bottom: -2px;
	right: 0;
	border-bottom: 2px solid #da251c;
	opacity: 0;
}

.news .news-header .inner a.active{
	color: #333;
}

.news .news-header .inner a.active::after{
	opacity: 1;
}

.news .news-header .more{
	float: right;
	font-size: 14px;
	color: #444444;
	line-height: 40px;
}

.news .news-body .list{
	display: none;
}

.news .news-body li{
	line-height: 32px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.news .news-body li::before{
	content: "";
	display: inline-block;
	width: 8px;
	height: 8px;
	border: 2px solid #da251c;
	border-radius: 50%;
	margin-right: 6px;
}

.news .news-body  .date{
	float: right;
	font-size: 13px;
	color: #999;
	margin-left: 12px;
}

.news .news-body li a{
	font-size: 16px;
	color: #333;
	margin-right: 26px;
}

.menu{
	padding: 0 12px;
	margin-top: 16px;
}

.menu .list li{
	float: left;
	width: 25%;
	font-size: 14px;
	color: #333;
	text-align: center;
	margin-bottom: 16px;
}

.menu .list li img{
	display: block;
	width: 36px;
	height: 36px;
	margin: 0 auto 8px;
}

.newsContent{
	padding: 16px 12px 0;
	font-size: 15px;
	color: #333333;
	line-height: 26px;
}

.notice{
	padding: 20px 12px 0;
}

.notice ul li:nth-child(odd){
	background: #f2f6f6;
}

.notice li a{
	display: block;
	font-size: 16px;
	padding: 0 10px;
	color: #333;
	height: 48px;
	line-height: 48px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.notice .list{
	margin-bottom: 20px;
}

.newsMsg{
	margin: 12px 12px 0;
	text-align: center;
	font-size: 14px;
	color: #999;
	line-height: 1.6;
}

.newsTitle{
	font-size: 20px;
	font-weight: bold;
	color: #da251c;
	line-height: 1.4;
	padding: 12px 12px 0;
	text-align: center;
}

.form{
	padding: 12px 12px 48px;
}

.form .item{
	margin-top: 20px;
}

.form .item-header{
	font-size: 15px;
	color: #333;
	margin-bottom: 8px;
}

.form .item-body .input{
	border: 1px solid #e8e8e8;
	padding: 6px 20px;
	-webkit-border-radius: 23px;
	-moz-border-radius: 23px;
	border-radius: 23px;
}

.form .item-body .input input{
	display: block;
	width: 100%;
	height: 30px;
	line-height: 30px;
	font-size: 16px;
	color: #33;
}

.form .submitBtn{
	display: block;
	width: 100%;
	background: #da251c;
	font-size: 16px;
	color: #fff;
	background: #da251c;
	height: 48px;
	-webkit-border-radius: 24px;
	-moz-border-radius: 24px;
	border-radius: 24px;
	margin-top: 30px;
}

.result{
	padding: 16px 12px 48px;
}

.result .title{
	font-size: 20px;
	font-weight: bold;
	color: #da251c;
	text-align: center;
	line-height: 1.4;
}

.result .avatar{
	display: block;
	width: 160px;
	height: 206px;
	-o-object-fit: cover;
	object-fit: cover;
	margin: 24px auto 36px;
}

.result .desc .item{
	font-size: 16px;
	color: #333;
	line-height: 26px;
	padding: 12px 0;
	border-bottom: 1px solid #e5e5e5;
}

.result .desc .item-header{
	float: left;
}

.result .desc .item-body{
	margin-left: 100px;
}
