@charset "utf-8";

/* CSS Document */

body {
    padding-top: 68px;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    background: #fff;
    /*box-shadow: 0 0 16px rgba(128,128,128,0.3);*/
}

.header .logo {
    float: left;
}

.header .logo img {
    display: block;
    height: 44px;
}

.header .inner {
    position: relative;
    padding: 12px 42px 12px 12px;
}

.header .btn {
    position: absolute;
    right: 12px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    height: 21px;
}

.header .btn .bar {
    position: relative;
    display: block;
    width: 28px;
    height: 3px;
    background: #da251c;
    margin-top: 6px;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -ms-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
}

.header .btn .bar:first-child {
    margin-top: 0;
}

.header .nav {
    position: fixed;
    top: 68px;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -ms-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
}

.header .nav .list {
    position: relative;
    top: -24px;
    background: #fff;
    padding: 12px 12px 6px;
    overflow: hidden;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -ms-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
}

.header .nav .list ul {
    position: relative;
    margin-left: -12px;
}

.header .nav .list li {
    float: left;
    width: 50%;
    margin-bottom: 12px;
}

.header .nav .list li a {
    display: block;
    height: 48px;
    line-height: 48px;
    margin-left: 12px;
    font-size: 16px;
    color: #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: #da251c;
    text-align: center;
    padding: 0 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.header .nav .mask {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
}

.open {
    overflow: hidden;
}

.open .nav {
    opacity: 1;
    visibility: visible;
}

.open .nav .list {
    top: 0;
}

.open .inner .btn .bar:nth-child(1) {
    top: 10px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
}

.open .inner .btn .bar:nth-child(2) {
    opacity: 0;
    top: 5px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
}

.open .inner .btn .bar:nth-child(3) {
    top: -8px;
    -webkit-transform: rotate(225deg);
    -moz-transform: rotate(225deg);
    -ms-transform: rotate(225deg);
    -o-transform: rotate(225deg);
    transform: rotate(225deg);
}

.footer {
    padding: 10px 12px 12px;
    font-size: 14px;
    color: #000000;
    line-height: 1.4;
    border-top: 2px solid #da251c;
    margin-top: 20px;
    text-align: center;
}

.footer p {
    margin-top: 6px;
}

.bread {
    margin: 0 12px 12px;
    padding: 12px 0;
    border-bottom: 2px solid #da251c;
}

.bread .inner {
    font-size: 15px;
    color: #da251c;
    border-left: 3px solid #da251c;
    padding-left: 8px;
}

.bread a,
.bread span {
    display: inline-block;
    vertical-align: top;
    color: #da251c;
    line-height: 1.1;
}

.bread span {
    margin: 0 4px;
}

.small-nav {
    border: 2px solid #da251c;
    margin: 0 12px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.small-nav-header {
    position: relative;
    height: 48px;
    line-height: 48px;
    padding: 0 12px;
    font-size: 18px;
    color: #da251c;
}

.small-nav-header img {
    float: right;
    width: 16px;
    height: 16px;
    margin-top: 16px;
}

.small-nav-body {
    display: none;
}

.small-nav-body a {
    display: block;
    height: 40px;
    line-height: 40px;
    padding: 0 12px;
    font-size: 16px;
    border-top: 1px solid #f3f3f3;
}

.pages {
    text-align: center;
}

.pages a,
.pages span {
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
    color: #333333;
    line-height: 20px;
    margin: 0 2px 6px;
}

.pages input {
    display: inline-block;
    width: 20px;
    height: 18px;
    text-align: center;
    line-height: 18px;
    border: 1px solid #d8d8d8;
}