@charset "utf-8";

/* CSS Document */

.pageTop {
    background: #eaf0f0;
    line-height: 40px;
    font-size: 14px;
    color: #333333;
}

.pageTop .link {
    float: right;
}

.linkMy {
    float: right;
    margin-right: 0;
}

.pageTop a {
    float: right;
    margin-left: 16px;
    color: #333;
}

.pageTop a:hover {
    text-decoration: underline;
    color: #da251c;
}

.header {
    position: relative;
    padding: 26px 0;
    z-index: 99;
}

.header .logo {
    float: left;
    width: 100%;
    height: 10%;

}

.header .logo img {
    display: block;
    height: 160px;
    width: 100%;

}

.header .right {
    float: right;
    padding-top: 10px;
}

.header .link {
    text-align: right;
}

.header .link a {
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin-left: 16px;
}

.link a .qrcode {
    display: none;
    position: absolute;
    top: 32px;
    left: 50%;
    margin-left: -60px;
    width: 120px;
    height: 120px;
    min-width: 120px;
    z-index: 10000;
}

.link a:hover .qrcode {
    display: block;
}

.header .link img {
    display: inline-block;
    vertical-align: top;
    width: 26px;
    height: 26px;
    margin-right: 4px;
}

.header .link span {
    display: inherit;
    vertical-align: top;
    line-height: 26px;
    font-size: 15px;
    color: #555;
}

.header .link a:hover span {
    text-decoration: underline;
    color: #da251c;
}

.search {
    height: 20px;
}

.submitBtn {
    width: 92px;
    height: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    background: #da251c;
    font-size: 16px;
    margin-left: 5%;
    display: inherit;
    margin-top: 2%;
}

.search .input {
    float: left;
    border: 1px solid #e5e5e5;
    padding: 6px 20px;
    background: #f7f7f7;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    font-size: 16px;
    color: #333;
}

.search .input .fa {
    display: inline-block;
    vertical-align: top;
    color: #999999;
    font-size: 14px;
    height: 28px;
    text-align: center;
    line-height: 28px;
    margin-right: 10px;
}

.search.input input {
    display: inline-block;
    vertical-align: top;
    width: 210px;
    height: 28px;
    line-height: 28px;
}

.nav {
    position: relative;
    background: #da251c;
    z-index: 9;
}

.nav li.firstItem {
    font-size: 36px;
    position: relative;
    float: left;
    border-left: 1px solid #ffffff;

}

.nav li.firstItem:first-child {
    border: none;
}

.nav li.firstItem:first-child a {
    padding: 0 30px;
}

.nav li.firstItem > a {
    display: block;
    padding: 0 22px;
    font-size: 36px;
    height: 140px;
    line-height: 180px;
    color: #585858;
}

.nav .navSub {
    display: none;
    position: absolute;
    top: 40px;
    left: 0;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    white-space: nowrap;
    min-width: 108px;
}

.nav .navSub a {
    display: block;
    line-height: 40px;
    height: 40px;
    text-align: center;
    border-top: 1px solid #fff;
    background: #da251c;
    font-size: 20px;
    color: #fff;
    padding: 0 22px;
}

.nav a {
    cursor: pointer;
}

.nav a:hover,
.nav a.active {
    border-bottom: 1px solid #e60012;
}

.nav li.firstItem:hover .navSub {
    display: block;
}

.footer {
    border-top: 3px solid #da251c;
    padding: 24px 0;
    text-align: center;
    font-size: 14px;
    color: #333333;
    text-align: center;
    line-height: 24px;
}

.footer a {
    color: #333;
}

.footer a:hover {
    color: #da251c;
    text-decoration: underline;
}

.bread {
    margin-top: 44px;
    margin-bottom: 16px;
}

.bread .text {
    border-left: 8px solid #da251c;
    font-size: 16px;
    line-height: 22px;
    color: #da251c;
    padding-left: 12px;
}

.bread .text a {
    color: #da251c;
}