@charset "utf-8";

/* CSS Document */


/*
Reset CSS
作用：清除和重置 基础 CSS 样式
*/


/* 清除内外边距 */

body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,

/* structural elements 结构元素 */

dl,
dt,
dd,
ul,
ol,
li,

/* list elements 列表元素 */

pre,

/* text formatting elements 文本格式元素 */

fieldset,
lengend,
button,
input,
textarea,

/* form elements 表单元素 */

th,
td {
    /* table elements 表格元素 */
    margin: 0;
    padding: 0;
}

dt,
dd {
    font-weight: normal;
}


/* 设置默认字体 */

body,
button,
input,
select,
textarea {
    /* for ie */
    /*font: 12px/1 Tahoma, Helvetica, Arial, "宋体", sans-serif;*/
    font: 12px/1 "微软雅黑", Tahoma, Helvetica, Arial, sans-serif;
    /* 用 ascii 字符表示，使得在任何编码下都无问题 */
    background: transparent;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    margin: 0;
    padding: 0;
}

address,
cite,
dfn,
em,
var {
    font-style: normal;
}


/* 将斜体扶正 */

code,
kbd,
pre,
samp,
tt {
    font-family: "Courier New", Courier, monospace;
}


/* 统一等宽字体 */

small {
    font-size: 12px;
}


/* 小于 12px 的中文很难阅读，让 small 正常化 */


/* 重置列表元素 */

ul,
ol {
    list-style: none;
}


/* 重置文本格式元素 */

a {
    text-decoration: none;
    outline: none;
    color: #7f7f7f;
}

a:visited {
    text-decoration: none;
    outline: none;
}

a:hover {
    text-decoration: none;
    outline: none;
}

a:active {
    text-decoration: none;
    outline: none;
}

a:focus {
    text-decoration: none;
    outline: none;
}

* {
    -webkit-tap-highlight-color: transparent;
}


/* 去除点击阴影 */

abbr[title],
acronym[title] {
    /* 注：1.ie6 不支持 abbr; 2.这里用了属性选择符，ie6 下无效果 */
    border-bottom: 1px dotted;
    cursor: help;
}

q:before,
q:after {
    content: '';
}


/* 重置表单元素 */

legend {
    color: #000;
}


/* for ie6 */

fieldset,
img {
    border: none;
}


/* img 搭车：让链接里的 img 无边框 */


/* 注：optgroup 无法扶正 */

button,
input,
select,
textarea {
    font-size: 100%;
    /* 使得表单元素在 ie 下能继承字体大小 */
    border: none;
    outline: none;
}


/* 重置表格元素 */

table {
    border-collapse: collapse;
    border-spacing: 0;
}

i {
    font-style: normal;
}


/* 重置 hr */

hr {
    border: none;
    height: 1px;
}

img {
    vertical-align: top;
    border: none;
    max-width: 100%;
}


/*html { overflow-y: scroll; }*/


/* 让非ie浏览器默认也显示垂直滚动条，防止因滚动条引起的闪烁 */

.ofh {
    overflow: hidden;
}

.fl {
    float: left;
}


/* 左浮动 */

.fr {
    float: right;
}


/* 向右浮动 */

/*.clearfix {*/
/*    *zoom: 1;*/
/*}*/




/* 清除浮动 */


/*html,body{
	min-width: 1200px;
}*/


/*  设置网页最小宽度  */

.container {
    max-width: 1392px;
    margin: 0 auto;
    min-width: 1392px;
    overflow: hidden;
}


/* 默认div容器宽度 */

label {
    cursor: pointer;
}


/*  label标签鼠标移入后变为手型  */

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}


/*  隐藏元素  */

.bg_cover {
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
}


/*  背景居中铺满  */

.img_center {
    display: inline-block;
    margin: 0 auto;
}


/*  图片水平居中  */

input::-webkit-input-placeholder {
    /* webkit 浏览器*/
    color: #c2c2c2;
}

input::-moz-placeholder {
    /* 火狐浏览器 */
    color: #c2c2c2;
}

textarea::-webkit-input-placeholder {
    /* webkit 浏览器*/
    color: #c2c2c2;
}

textarea::-moz-placeholder {
    /* 火狐浏览器 */
    color: #c2c2c2;
}


/*  设置input placeholder 样式 */


/*select{
	appearance:none;
	-moz-appearance:none;
	-webkit-appearance:none;
	cursor: pointer;
}
select::-ms-expand { display: none; }*/


/*将默认的select选择框样式清除*/

input[type="text"],
input[type="email"],
input[type="search"],
input[type="password"],
input[type="button"],
input[type="submit"],
input[type="reset"] {
    /* 去除阴影 */
    -webkit-appearance: caret;
    -moz-appearance: caret;
    /* mobile firefox too! */
    /* 去除圆角 */
    -webkit-appearance: none;
    border-radius: 0;
}


/*  去除Safari默认表单样式  */

@font-face {
    font-family: 'YourWebFontName';
    src: url('YourWebFontName.eot');
    /* IE9 Compat Modes */
    src: url('YourWebFontName.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('YourWebFontName.woff') format('woff'), /* Modern Browsers */
    url('YourWebFontName.ttf') format('truetype'), /* Safari, Android, iOS */
    url('YourWebFontName.svg#webfontjKg17VrE') format('svg');
    /* Legacy iOS */
    font-weight: normal;
    font-style: normal;
}


/*  自定义字体  */