@charset "utf-8";

/* CSS Document */

html,
body {
    position: relative;
    height: 100%;
}

.banner-style {
    position: relative;
    width: 100%;
    overflow: hidden;
    cursor: move;
}

.banner-style .container {
    position: relative;
}

.banner-style .swiper-container {
    width: 100%;
    height: 100%;
    color: #fff;
    text-align: center;
}


.banner-style .swiper-slide {
    position: relative;
    overflow: hidden;
}

.banner .swiper-slide a {
    position: relative;
    display: block;
    height: 750px;
}

.banner {
    position: relative;
}

.banner .con {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    margin-top: -20px;
    z-index: 3;
}

.banner .con a {
    float: left;
    width: 26px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    background: #333;
    background: rgba(0, 0, 0, 0.5);
    font-size: 20px;
    color: #fff;
}

.banner .con a.prev_btn {
    float: left;
}

.banner .con a.next_btn {
    float: right;
}

.banner .con a:hover {
    opacity: 0.8;
}

.hotNews {
    position: relative;
    background: #f2f6f6;
    padding: 48px 24px 24px;
    margin-bottom: 20px;
}

.hotNews .list li {
    display: none;
}

.hotNews .list .title {
    font-size: 18px;
    color: #313131;
    font-weight: bold;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 12px;
}

.hotNews .list .desc {
    font-size: 15px;
    color: #333;
    line-height: 22px;
    height: 44px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
}

.hotNews .pagination {
    position: absolute;
    right: 24px;
    top: 14px;
}

.hotNews .tag {
    position: absolute;
    top: 0;
    left: 15px;
    width: 96px;
    height: 30px;
    text-align: center;
    line-height: 33px;
    /*background: #eea031;*/
    /*background: white;*/
    font-size: 14px;
    color: black;
}

.hotNews .tag::after {
    content: "";
    position: absolute;
    border-width: 5px 38px;
    border-style: solid;
    border-color: transparent;
    border-top-color: #eea031;
    bottom: -10px;
    left: 0;
}

.hotNews .pagination span {
    display: inline-block;
    vertical-align: top;
    height: 18px;
    line-height: 18px;
    padding: 0 6px;
    border: 1px solid #eea031;
    background: #fff;
    color: #eea031;
    cursor: pointer;
    margin-right: 2px;
}

.hotNews .pagination span.active {
    background: #eea031;
    color: #fff;
}

.hotNews .pagination a {
    display: inline-block;
    vertical-align: top;
    line-height: 20px;
    margin-left: 6px;
    color: #e9660d;
}

.hotNews .pagination a:hover {
    text-decoration: underline;
}

.article .list li {
    padding: 0 12px;
}

.article .list .date {
    float: right;
    width: 160px;
    text-align: right;
    font-size: 16px;
    color: #333;
    line-height: 44px;
}

.article .list .title {
    margin-right: 172px;
    font-size: 16px;
    color: #333;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 44px;
    line-height: 44px;
}

.article .list .title a {
    color: #333;
}

.article .list ul li:nth-child(even) {
    background: #f2f6f6;
}

.article .list .title a:hover {
    text-decoration: underline;
    color: #da251c;
}

.page {
    margin-top: 20px;
    text-align: right;
}

.page span,
.page a {
    color: #333;
    display: inline-block;
    vertical-align: top;
    line-height: 24px;
    font-size: 14px;
    margin-left: 6px;
}

.page a.active {
    color: red;
    display: inline-block;
    vertical-align: top;
    line-height: 24px;
    font-size: 14px;
    margin-left: 6px;
}

.page select {
    display: inline-block;
    vertical-align: top;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #aaaaaa;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin: 0 4px;
    cursor: pointer;
}

.page a:hover {
    text-decoration: underline;
    color: #da251c;
}

.article-detail .box-title {
    font-size: 24px;
    color: #da251c;
    line-height: 1.5;
    text-align: center;
    padding: 32px 0 24px;
    border-bottom: 2px solid #da251c;
    margin-bottom: 26px;
}

.article-detail .msg {
    font-size: 14px;
    color: #333;
    text-align: center;
    margin-bottom: 24px;
}

.article-detail .msg span {
    display: inline-block;
    vertical-align: top;
    margin: 0 4px;
}

.article-detail .text .title {
    font-size: 20px;
    color: #333;
    line-height: 1.5;
    text-align: center;
    font-weight: bold;
    margin-bottom: 36px;
}

.article-detail .text .desc {
    font-size: 15px;
    color: #666;
    line-height: 26px;
}

.paintings .list {
    overflow: hidden;
}

.paintings .list ul {
    margin-left: -12px;
}

.paintings .list li {
    float: left;
    width: 25%;
    margin-bottom: 24px;
}

.paintings .list a {
    display: block;
    margin-left: 12px;
}

.paintings .list .img {
    height: 160px;
    margin-bottom: 14px;
}

.paintings .list p {
    font-size: 16px;
    color: #333;
    color: #333;
    text-align: center;
    padding: 0 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.paintings .list a:hover p {
    color: #da251c;
}

.title-box {
    margin-bottom: 12px;
}

.title-box .list {
    float: left;
}

.title-box .list li {
    float: left;
    font-size: 18px;
    color: #666666;
    height: 36px;
    line-height: 36px;
    border-bottom: 2px solid transparent;
    padding: 0 6px;
    margin-right: 6px;
    cursor: pointer;
}

.title-box .list li.active {
    border-bottom-color: #da251c;
}

.title-box .link {
    float: right;
    font-size: 15px;
    color: #333333;
}

.title-box .link a {
    display: inline-block;
    vertical-align: top;
    margin-left: 16px;
    line-height: 36px;
}

.title-box .link a:hover {
    color: #da251c;
}

.title-box .link .fa {
    font-size: 18px;
}

.train {
    position: relative;
    z-index: 999;
}

.train .imgList {
    margin: 2px 0 40px;
    overflow: hidden;
}

.train .imgList ul {
    margin-left: -20px;
}

.train .imgList li {
    float: left;
    width: 20%;
}

.train .imgList a {
    display: block;
    margin-left: 20px;
}

.train .imgList .img {
    width: 100%;
    height: 110px;
    object-fit: cover;
}

.train .linkBox {
    position: relative;
    margin-left: -18px;
}

.train .linkBox .item {
    float: left;
    width: 20%;
}

.train .linkBox .item .inner {
    margin-left: 18px;
}

.train .linkBox .item-header {
    line-height: 48px;
    border: 1px solid #00584a;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 0 16px;
    cursor: pointer;
}

.train .linkBox .item-header .title {
    font-size: 15px;
    color: #333;
}

.train .linkBox .item-header .fa {
    float: right;
    font-size: 18px;
    color: #00584a;
    height: 48px;
    line-height: 48px;
}

.train .linkBox .item-body {
    position: absolute;
    bottom: 51px;
    left: 18px;
    width: 1182px;
    background: #f6f6f6;
    opacity: 0;
    visibility: hidden;
}

.train .linkBox .item-body ul {
    padding: 16px 24px 24px;
}

.train .linkBox .item-body ul li {
    float: left;
    width: 20%;
    text-align: center;
    margin-top: 12px;
}

.train .linkBox .item-body ul li a {
    font-size: 15px;
    color: #333;
    line-height: 26px;
    padding: 0 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.train .linkBox .item-body ul li a:hover {
    color: #da251c;
    text-decoration: underline;
}

.train .item:hover .item-body {
    opacity: 1;
    visibility: visible;
}

.index-news .box {
    margin-left: -18px;
    margin-bottom: 32px;
}

.index-news .box-item {
    float: left;
    width: 50%;
}

.index-news .box-item .inner {
    margin-left: 18px;
}

.index-news .newsList .date {
    float: right;
    width: 162px;
    line-height: 30px;
    font-size: 14px;
    color: #999999;
    text-align: right;
}

.index-news .newsList li {
    position: relative;
    padding-left: 22px;
}

.index-news .newsList li::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 1px;
    width: 8px;
    height: 8px;
    border: 1px solid #da251c;
    margin-top: -5px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.index-news .newsList .title {
    margin-right: 162px;
    line-height: 30px;
    font-size: 14px;
    color: #151515;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.index-news .newsList .title a {
    color: #151515;
}

.index-news .newsList .title a:hover {
    color: #da251c;
    text-decoration: underline;
}

.index-news .newsList .child {
    display: none;
}

.index-news .imgList {
    margin: 0 0 32px;
    overflow: hidden;
}

.index-news .imgList ul {
    margin-left: -20px;
}

.index-news .imgList li {
    float: left;
    width: 33.33333%;
}

.index-news .imgList a {
    display: block;
    margin-left: 20px;
}

.index-news .imgList .img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.index-news .imgList2 {
    margin-left: -12px;
}

.index-news .imgList2 .item {
    float: left;
    width: 50%;
}

.index-news .imgList2 .item a {
    display: block;
    margin-left: 12px;
}

.index-news .imgList2 .item img {
    display: block;
    width: 100%;
    height: 160px;
    object-fit: cover;
    margin-bottom: 12px;
}

.index-news .imgList2 .item p {
    font-size: 15px;
    color: #333;
    padding: 0 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
}

.index-news .imgList2 .item a:hover p {
    color: #da251c;
}

.menu {
    margin: 40px 0;
}

.menu li {
    float: left;
    width: 12.5%;
}

.menu li a {
    display: block;
    width: 100px;
    margin: 0 auto;
    text-align: center;
}

.menu li a img {
    display: block;
    width: 72px;
    height: 72px;
    margin: 0 auto 6px;
}

.menu li a p {
    font-size: 16px;
    color: #333333;
}

.index-hot {
    padding-top: 30px;
}

.menu li a:hover p {
    color: #1da1e6;
}

.searchForm {
    padding: 50px 0 72px;
    text-align: center;
}

.searchForm .item {
    display: inline-block;
    vertical-align: top;
    width: 300px;
    margin-right: 48px;
}

.searchForm .item .title {
    float: left;
    font-size: 16px;
    color: #333333;
    line-height: 42px;
}

.searchForm .item .input {
    margin-left: 44px;
    padding: 6px 6px;
    border: 1px solid #e8e8e8;
    /* -webkit-border-radius: ;
    -moz-border-radius: ; */
    -webkit-border-radius: 21px;
    -moz-border-radius: 21px;
    border-radius: 21px;

}

.searchForm .item .input input {
    display: block;
    width: 100%;
    height: 28px;
    line-height: 28px;
    font-size: 16px;
    color: #333;
}

.search .submitBtn {
    display: inline-block;
    vertical-align: top;
    height: 42px;
    width: 120px;
    font-size: 16px;
    color: #fff;
    display: inherit;
    -webkit-border-radius: 21px;
    -moz-border-radius: 21px;
    border-radius: 21px;
    background: #da251c;
    cursor: pointer;
}

.searchForm .submitBtn:hover {
    opacity: 0.8;
}

.searchDetail .inner {
    border: 1px solid #b4b4b4;
    background: #f0f0f0;
    padding: 50px 50px 160px;
}

.searchDetail .title {
    font-size: 24px;
    color: #da251c;
    text-align: center;
    margin-bottom: 60px;
}

.searchDetail .content .desc {
    overflow: hidden;
}

.searchDetail .content .desc ul {
    margin-left: -42px;
}

.searchDetail .content .desc li {
    float: left;
    width: 50%;
    margin-bottom: 10px;
    line-height: 44px;
}

.searchDetail .content .desc .item-inner {
    margin-left: 42px;
    border-bottom: 1px dashed #bebebe;
}

.searchDetail .content .desc .item-header {
    float: left;
    font-size: 14px;
    color: #000000;
}

.searchDetail .content .desc .item-body {
    margin-left: 100px;
    font-size: 14px;
    color: #5c5c5c;
}

.searchForm .item .input {
    margin-left: 76px;
}

.searchDetail2 .content .img {
    float: left;
    width: 174px;
    height: 214px;
    object-fit: cover;
}

.searchDetail2 .content .desc {
    margin-left: 220px;
}