{% extends 'pc/base.html' %}
{% block content %}
    <div class="index-news index-hot ">
        <div class="container " id="map" style="height:800px;font-size:26px;">
        </div>
        <div class="container" style="margin-top: 50px">
            <div style="float:left;width:400px;height:400px">
                <img src="/static/my.jpg">
            </div>
            <div style="float: left;width:600px;height:400px">
                <div style="font-size:36px;margin:10% auto ;text-align:center">座机：61543314</div>
                <div style="font-size:36px;margin:10% auto ;text-align:center;">电话：18080489102</div>

            </div>
        </div>
    </div>
    <script type="text/javascript"
            src="https://api.map.baidu.com/api?type=webgl&v=1.0&ak=BPcf8wKiYkSOasqvlDFlTyZq9KMa5ilu">
    </script>
    <script>
        var map = new BMapGL.Map('map'); // 创建Map实例
        map.centerAndZoom(new BMapGL.Point(103.924262, 30.758439), 19); // 初始化地图,设置中心点坐标和地图级别
        map.enableScrollWheelZoom(true); // 开启鼠标滚轮缩放
        var point = new BMapGL.Point(103.924262, 30.758439)  // 创建点坐标
        var marker1 = new BMapGL.Marker(point);
        map.addOverlay(marker1);

        var infoWindow = new BMapGL.InfoWindow('<h2 style="text-align:center;height:50px;font-size:30px;font-weight:bold;line-height:50px">我们在这里</h2>' +
            '<h3 style="font-size:22px;height:80px;margin:0 10%">地址：成都市郫都区天骄路368号; 成都市高新合作街道创新创业孵化基地</h3>');  // 创建信息窗口对象
        map.openInfoWindow(infoWindow, point); //开启信息窗口

    </script>

{% endblock %}
