{% extends 'm/base.html' %}
{% block content %}
    <div class="index-news index-hot ">
        <div class="container" style="margin-top: 150px">
            <div style="width:80%;margin:auto">
                <img src="/static/my.jpg" style="width:100%">
            </div>
            <div style="width:80%;text-align:center;margin:auto">
                <div style="font-size:22px;margin:10% auto ;text-align:center">座机：028-61543314</div>
                <div style="font-size:22px;margin:10% auto ;text-align:center;">电话：18080489102</div>

            </div>
        </div>
    </div>

{% endblock %}