{% extends 'm/base.html' %}
{% block content %}
    <div class="index-news index-hot ">
        <div class="container" style="margin-top: 150px">
              <div style="width:90%;">
                <img src="/static/img/MGG.png">
                <div style="font-size:28px;margin:10% auto ;text-align:center;line-height:80px"><span
                        style="margin-right: 20px"><img src="/static/img/phone.jpg" draggable="false"
                                                        style="height:80px;width:80px"></span>028-61543314
                </div>
                <div style="font-size:28px;margin:10% auto ;text-align:center;line-height:80px"><span
                        style="margin-right: 20px"><img src="/static/img/telphone.jpg" draggable="false"
                                                        style="height:70px;width:70px"></span>18080489102
                </div>

            </div>
        </div>
    </div>

{% endblock %}